{% extends "base.jinja" %}

{% block content %}
<section class="documentation">
    <div class="documentation_menu">
        {{ navbar }}
    </div>
    <div class="documentation_content">
        {{ markdown }}
    </div>
</section>
{% endblock %}


{% block javascript %}
<script src="/assets/js/documentation.js" defer hx-trigger="load delay:1s"></script>
{% endblock %}