{% extends "base.jinja" %}

{% block content %}
<section class="documentation">
    <div id="open_documentation_menu">
        <button>Ouvrir le menu de navigation</button>
    </div>
    <div class="documentation_menu">
        <div class="documentation_buttons">
            <a href="/swagger" class="button">Swagger</a>
            <a href="/redoc" class="button">Redoc</a>
        </div>
        
        {{ navbar|safe }}
    </div>
    <div class="documentation_content">
        {{ markdown|safe }}
    </div>
</section>
{% endblock %}


{% block javascript %}
<script src="/assets/js/documentation.js"></script>
{% endblock %}