@import url('animation.css');

#error_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: "Roboto", sans-serif;

    margin: 16px 5vw;
}

#error_page h1 {
    font-family: "Lexend Deca", sans-serif;
    color: var(--secondary-color);
    margin: 0;
}

#error_page p {
    color: var(--primary-color);
}

#error_page img {
    max-width: 500px;
    width: 100%;
}

#error_page a {
    display: block;

    background-color: var(--secondary-color);
    color: var(--primary-color);

    padding: 6px;
    margin-top: 16px;

    border-radius: 4px;

    text-decoration: none;
    text-align: center;
}

#easter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 100vw;
    height: 100vh;

    background: #FF0000;
    transition: background 1s;
}

#easter h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    margin: 0;
    z-index: 999;

    font-size: 32px;
    font-family: "Lexend Deca", sans-serif;

    color: #FFFFFF;
    white-space: nowrap;

    transition: top 0.5s, left 0.5s, color 1s;
    animation: 0.75s ease-in-out infinite alternate pulse;
}

#easter_pokeball {
    position: absolute;
    left: 50%;
    animation: 0.248s linear infinite alternate pokeball;
}

#easter_t1-left, #easter_t1-right {
    position: absolute;
    height: 256px;
    bottom: 0;
}

#easter_t1-left  {transform: rotateY(180deg);}
#easter_t1-right {right: 0;}

#easter_t2-left, #easter_t2-right {
    position: absolute;
    rotate: 180deg;
}

#easter_t2-left  {left: 0;}
#easter_t2-right {right: 0; transform: scaleX(-1);}

#easter_t3-left, #easter_t3-right {
    position: absolute;
    height: 328px;
    bottom: 0;
}

#easter_t3-left  {right: 45%;}
#easter_t3-right {left: 45%; transform: scaleX(-1);}