.documentation {
    display: flex;
    justify-content: center;

    margin: 0 2vw;
}

.documentation_menu, .documentation_content {
    background-color: var(--primary-background-color);
    border-radius: 8px;
}

.documentation_menu {
    margin-right: 16px;
    padding: 0 16px;
    width: 175px;
}

.documentation_menu ul {
    list-style: none;
    padding-left: 0;
}

.documentation_menu li ul {
    padding-left: 16px;
    display: none;
}

.documentation_content {flex: 2 1 auto;}

.documentation a {
    color: var(--primary-color);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}