@media screen and (max-width: 560px) {
    header {height: 60px;}
    header img {width: 32px; height: 32px;}
    header div a {font-size: 16px;}
    header div a p {margin: calc(calc(32px - 16px) / 2);}

    #carousel__shiny {display: none;}
}

@media screen and (max-width: 768px) {
    #routes-container div {
        flex: 0 0 85%;
    }
    #carousel__infobox {
        margin: 16px 6.5vw 16px 6.5vw;
    }
}