@import url('fonts.css');
@import url('animation.css');

/*
 *  Base
 */


:root {
    --primary-background-color  : #2c3e50;
    --secondary-background-color: #34495e;

    --primary-color  : #ffffff;
    --secondary-color: #ff7675;
}

::selection {
    color: var(--primary-color);
    background: var(--secondary-color);
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--secondary-background-color);
    color-scheme: dark;
}
header {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-background-color);
    margin-bottom: 16px;
}

header div a {
    display: inline-flex;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 32px;
    font-family: 'Lexend Deca', sans-serif;
}

header div a p {margin: calc(calc(56px - 32px) / 2); margin-left: 16px;}

.link_logo {
    width: auto;
    height: 36px;
    margin-left: 16px;
}

header img {
    width: 56px;
    height: 56px;
}

footer {
    background-color: var(--primary-background-color);
    color: var(--primary-color);
    text-align: center;
    width: 100%;
    height: auto;
}

footer p {padding: 16px; font-family: 'Roboto', sans-serif; margin-bottom: 0;}
footer p a {text-decoration: underline; color: var(--secondary-color);}

code {
    background-color: var(--secondary-background-color) !important;
    color: var(--primary-color) !important;
    display: inline-block;
    border-radius: 6px;
    padding: 6px;
}

pre code {
    display: block !important;
    padding: 1em !important;
    overflow: auto;
}

/*
 *  Homepage
 */

#carousel {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#carousel__left-arrow img, #carousel_right-arrow img {width: 72px; cursor: pointer;}
#carousel__image, #carousel__loading {width: 50vw; max-width: 300px;}

#carousel__loading {
    animation: 2s ease-in-out infinite loading;
}

#carousel__infobox {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--primary-background-color);
    border-radius: 8px;
    margin: 16px 2vw;
    
    color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
    font-size: 24px;

    height: 96px;
}

#carousel__info-pkmname {height: 24px;}
#carousel__info-types {height: 60px;}

#carousel__info-types img:nth-child(2) {
    margin-left: 8px;
}

#routes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 16px 0 16px 0;
}

#routes-container div {
    flex: 0 0 45%;
    max-width: 45%;
    background-color: var(--primary-background-color);
    margin: 6px 0 6px 0;
    padding: 6px;
    border-radius: 8px;

    display: flex;
    align-items: center;
}

#routes-container div img {width: 64px; height: 64px;}
#routes-container div p {
    flex: 1 1 auto; 
    font-family: 'Roboto', sans-serif; 
    color: var(--primary-color);
    margin: 12px;
    text-align: justify;
}
#routes-container div p span {
    color: var(--secondary-color);
    font-weight: bold;
    font-family: 'Lexend Deca', sans-serif;
    word-break: break-all;
}

#routes-container div p a {
    display: block;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 6px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
}

#tryit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-background-color);
    border-radius: 8px;
    margin: 16px 2vw;

    font-family: 'Roboto', sans-serif;
}

#tryit__title {
    font-size: 24px;
    color: var(--secondary-color);
    font-family: 'Lexend Deca', sans-serif;
}

#tryit-container div {
    display: flex;
    justify-content: center;
    width: 80vw;
}

#tryit-container div label {
    background: var(--secondary-background-color);
    color: #808080;
    padding: 8px;
    border-radius: 8px 0 0 8px;
    text-align: right;
    white-space: nowrap;
}

#tryit-container div input {
    all: unset;
    background: var(--secondary-background-color);
    color: var(--primary-color);
    padding: 8px;
    margin-left: -4px;
    width: 100%;
}

#tryit__input-button, #tryit__open-new-tab, #tryit__copy-url, #tryit__copy-json {
    all: unset;
    color: var(--primary-color);
    padding: 8px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

#tryit__input-button {
    background-color: var(--secondary-color);
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
}

#tryit__open-new-tab, #tryit__copy-url, #tryit__copy-json {
    background-color: var(--secondary-background-color);
    border-radius: 8px;
    width: calc(80vw - 16px);
    margin-bottom: 16px;
}

#tryit__json-area {
    width: calc(80vw - 16px);
    height: 300px;
    border-radius: 8px;
    margin: 16px;
    padding: 8px;
    overflow: scroll;
}

#tryit__json-area img {
    width: 100%;
    height: 100%;
    animation: 2s ease-in-out infinite loading;
}

#tryit__example {
    color: var(--primary-color);
    width: 80vw;
    text-align: justify;
    margin-bottom: 0px;
}

#tryit__example span {
    color: var(--secondary-color);
    cursor: pointer;
}

#tryit__copy-url {
    margin-inline: 16px;
}

.key     {color: #9CDCFE;}
.string  {color: #CE9178;}
.number  {color: #B5CEA8;}
.boolean {color: #E84393;}
.null    {color: #569CD6;}

.string  a {
    color: #CE9178;
    text-decoration: underline;
}

#warnings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px 2vw;
    opacity: 0.85;
}

.warning__title {
    margin: 16px 16px 0 16px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 24px;
}

.warning__description {
    margin: 16px;
    font-family: 'Roboto', sans-serif;
}

.warning__description a {
    text-decoration: underline;
    color: var(--primary-color);
}

#warnings div {
    width: 100%;
    border-radius: 8px;
    margin: 8px 0;
}

#warnings div.danger {
    background-color: #e74c3c;
    color: var(--primary-color);
}

#warnings div.question {
    background-color: #3498db;
    color: var(--primary-color);
}

#documentation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 64px 2vw;
}

#documentation-container h2 {
    color: var(--secondary-color);
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
}

#documentation-container p {
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

#documentation-container div {
    display: flex;
}

#documentation-container div a {
    background: var(--secondary-color);
    color: var(--primary-color);

    text-decoration: none;
    font-family: 'Roboto', sans-serif;

    padding: 16px;
    margin: 0 8px;
    border-radius: 8px;

    display: block;
    min-width: 128px;
}

/*
 *  404
 */

#error_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: "Roboto", sans-serif;

    margin: 16px 5vw;
}

#error_page h1 {
    font-family: "Lexend Deca", sans-serif;
    color: var(--secondary-color);
    margin: 0;
}

#error_page p {
    color: var(--primary-color);
}

#error_page img {
    max-width: 500px;
    width: 100%;
}

#error_page a {
    display: block;

    background-color: var(--secondary-color);
    color: var(--primary-color);

    padding: 12px;
    margin-top: 16px;

    border-radius: 4px;

    text-decoration: none;
    text-align: center;
}

#easter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 100vw;
    height: 100vh;

    background: #FF0000;
    transition: background 1s;
}

#easter h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    margin: 0;
    z-index: 999;

    font-size: 32px;
    font-family: "Lexend Deca", sans-serif;

    color: #FFFFFF;
    white-space: nowrap;

    transition: top 0.5s, left 0.5s, color 1s;
    animation: 0.75s ease-in-out infinite alternate pulse;
}

#easter_pokeball {
    position: absolute;
    left: 50%;
    animation: 0.248s linear infinite alternate pokeball;
}

#easter_t1-left, #easter_t1-right {
    position: absolute;
    height: 256px;
    bottom: 0;
}

#easter_t1-left  {transform: rotateY(180deg);}
#easter_t1-right {right: 0;}

#easter_t2-left, #easter_t2-right {
    position: absolute;
    rotate: 180deg;
}

#easter_t2-left  {left: 0;}
#easter_t2-right {right: 0; transform: scaleX(-1);}

#easter_t3-left, #easter_t3-right {
    position: absolute;
    height: 328px;
    bottom: 0;
}

#easter_t3-left  {right: 45%;}
#easter_t3-right {left: 45%; transform: scaleX(-1);}

/*
 *  Documentation
 */

.documentation {
    display: flex;
    justify-content: center;

    margin: 0 2vw;
}

.documentation_menu, .documentation_content {
    background-color: var(--primary-background-color);
    border-radius: 8px;
}

.documentation_menu {
    margin-right: 16px;
    padding: 0 16px;
    min-width: 250px;
}

.documentation_menu ul {
    list-style: none;
    padding-left: 0;
}

.documentation li {margin: 4px;}


.documentation_menu li ul {
    padding-left: 16px;
    display: none;
}

.documentation_menu strong, .documentation_menu a {
    display: block;
    width: 100%;

    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    text-decoration: none;
    user-select: none;

    cursor: pointer;
}

.documentation_menu ul li a {margin-left: 4px;}

.documentation_menu a.selected {
    color: var(--secondary-color) !important; 
    border-right: 4px solid var(--secondary-color);
}
.documentation_menu strong::before {
    content: url("/assets/docs/open.svg");
    display: inline-block;
    vertical-align: middle;
    filter: invert(96%) sepia(32%) saturate(0%) hue-rotate(115deg) brightness(107%) contrast(101%);
}

.documentation_menu strong.open::before {content: url("/assets/docs/close.svg") !important;}

#open_documentation_menu {display: none;}

#open_documentation_menu button {
    color: var(--primary-color);
    background: var(--secondary-color);
    
    padding: 8px;
    margin-bottom: 8px;

    border: none;
    border-radius: 8px;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    
    cursor: pointer;
    width: 250px;
}

.documentation_content {
    flex: 2 1 auto;
    padding: 0 16px;
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
}

.documentation_content h1 {
    font-size: 22px;
    width: 100%;
    padding-bottom: 6px;
    border-bottom: 2px solid var(--secondary-background-color);
}

.documentation_content h2 {
    font-size: 20px;
    padding: 6px;
    border-bottom: 1px solid var(--secondary-background-color);
}

.documentation_content a {
    color: var(--secondary-color);
}

.documentation_get {
    display: inline-block;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 8px;
    margin-right: 8px;
    padding: 8px;
}

.documentation_url {
    font-weight: 100;
    color: var(--secondary-color);
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th, td {
    border: 1px solid var(--secondary-background-color);
    padding: 8px;
}

th {background-color: var(--secondary-background-color);}

/*
 *  Dex
 */

#search-pokedex {
    width: 90%;
    margin: 2.5% 5%;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

#search-pokedex input[type=text] {
    all: unset;
    width: 80%;
    padding: 8px;
    background: var(--primary-background-color);
    color: var(--primary-color);
    border-radius: 8px 0 0 8px;
    font-size: 1em;
}
#search-pokedex input[type=submit] {
    width: 20%;
    padding: 12px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: var(--secondary-color);
    font-size: 1em;
}

#dex_data {
    width: 90%;
    margin: 0 5%;
}

.pkm-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pkm-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-background-color);
    width: 192px;
    margin: 8px;
    border-radius: 8px;
    text-align: center;
}

.pkm-card a {text-decoration: none;}

.pkm-card a img {
    width: 128px;
}

.pkm-card a p {
    color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.pkm-list-text {
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2em;
}

.pkm-data-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px;
}

.pkm-data-name h2 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5em;
    margin: 0;
}

.pkm-data-name h2 span {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.75em;
    font-style: italic;
    color: #AFAFAF;
}

.pkm-data-name select {
    margin-left: 32px;
    height: 32px;
    width: 128px;
    background: var(--primary-background-color);
    color: var(--primary-color);
    border: none;
    border-radius: 8px;
    padding: 8px;
}

.pkm-tab-radio, .pkm-tab-content {display: none;}

.pkm-tab-list {
    list-style: none;
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    border: 1px solid var(--primary-background-color);
    border-radius: 8px 8px 0 0;
}

.pkm-tab-title {
    width: 25%;
    text-align: center;
}

.pkm-tab-title label {
    display: block;
    padding: 16px;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

.pkm-tab-title:nth-child(1) {border-radius: 8px 0 0 0;}

.pkm-tab-radio:nth-child(1):checked ~ .pkm-tab-container .pkm-tab-content:nth-child(1),
.pkm-tab-radio:nth-child(2):checked ~ .pkm-tab-container .pkm-tab-content:nth-child(2),
.pkm-tab-radio:nth-child(3):checked ~ .pkm-tab-container .pkm-tab-content:nth-child(3),
.pkm-tab-radio:nth-child(4):checked ~ .pkm-tab-container .pkm-tab-content:nth-child(4) {
    display: block;
    margin-bottom: 32px;
    padding-bottom: 32px;
}

.pkm-tab-radio:nth-child(1):checked ~ .pkm-tab-list .pkm-tab-title:nth-child(1),
.pkm-tab-radio:nth-child(2):checked ~ .pkm-tab-list .pkm-tab-title:nth-child(2),
.pkm-tab-radio:nth-child(3):checked ~ .pkm-tab-list .pkm-tab-title:nth-child(3),
.pkm-tab-radio:nth-child(4):checked ~ .pkm-tab-list .pkm-tab-title:nth-child(4) {
    background-color: var(--primary-background-color);
}

.pkm-tab-container {
    background-color: var(--primary-background-color);
    border-radius: 0 0 8px 8px;
}

.pkm-tab-split {display: flex;}

.pkm-tab-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    width: 75%;
}

.pkm-tab-image-container img {height: 100%; max-height: 296px;}

.dex-table {
    margin-top: 32px;
    margin-right: 32px;
    border: 1px solid var(--secondary-background-color);
}

.dex-table th, .pkm-tab-resistance-container-with-title p, .pkm-talents-container h2 {
    font-family: 'Lexend Deca', sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

.dex-table td {
    font-family: 'Roboto', sans-serif;
    font-size: 0.95em;
    border: none;
    border-bottom: 1px solid var(--secondary-background-color);
}

.dex-table td:nth-child(1) {text-align: right; color: var(--secondary-color);}
.dex-table td:nth-child(1)::after {content: ":";}
.dex-table td:nth-child(2) {text-align: left;}
.dex-table td span {margin: 0 6px;}

.pkm-types-container, .pkm-types-container div {
    display: flex;
    align-items: center;
}

.pkm-types-container div img {
    height: 2em;
    margin-right: 6px;
}

.pkm-types-container div span {margin: 0 6px;}

.pkm-tab-resistance-container-with-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-background-color);
    margin: 32px 32px 0 32px;
    border-radius: 8px;
}

.pkm-tab-resistance-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pkm-tab-resistance-container div {
    margin: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pkm-tab-resistance-container div img {width: 3em;}

.pkm-tab-resistance {
    border-radius: 50%;
    padding: 8px;
    height: 1.25em;
    width: 1.25em;
}

.pkm-tab-stats-container {
    display: flex;
    margin: 0 0 0 32px;
}

.dex-stats-td {
    width: 50%;
}

.dex-stats-progress-bar {
    width: 100%;
    border-radius: 8px;
    background-color: var(--secondary-background-color);
}

.dex-stats-progress-bar p {
    background-color: blue;
    padding: 8px;
    margin: 0;
    border-radius: 8px;
}

.pkm-talents-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 64px);
    margin: 22px 32px 0 32px;
    background-color: var(--secondary-background-color);
    border-radius: 8px;
}

.pkm-talents-element-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 12px;
    flex-wrap: wrap;
}

.pkm-talents-element {
    background-color: var(--primary-background-color);
    margin: 6px;
    border-radius: 8px;
    padding: 8px;
    width: 45%;
    display: flex;
    justify-content: center;
}

.pkm-talents-element:nth-child(3) {
    width: calc(90% + 26px);
}

.pkm-talents-element h2 {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-variant: normal;
}

.pkm-talents-element span, .pkm-egg-groups-container div h2 span {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 6px;
    border-radius: 8px;
    margin-left: 8px;
}

.pkm-talents-element p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-indent: 2em;
    margin-top: 24px;
}

.pkm-imagerie div {
    display: flex;
    justify-content: center;
}

.pkm-imagerie h2 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5em;
    margin: 0 24px;
    padding: 16px;
    text-align: center;
    border-bottom: 2px solid var(--secondary-background-color);
}

.pkm-imagerie-image-container {
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    border-radius: 8px;
    text-align: center;
    width: 50%;
}

.pkm-imagerie-image-container img {
    padding: 16px;
    max-width: 368px;
    width: 75%;
}

.pkm-imagerie-image-container div {
    height: 100%;
    display: flex;
    align-items: center;
}

.pkm-imagerie-image-container p:last-child {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.1em;
    text-align: justify;
    padding: 16px;
    font-variant: small-caps;
}

.pkm-imagerie-image-container > div > p {font-size: 1.25em !important;}

.pkm-tab-evolution {
    display: flex;
    flex-wrap: wrap;
    padding-top: 32px;
    margin: 0 32px;
}

.pkm-tab-evolution div {
    width: 30%;
    background-color: var(--secondary-background-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 8px calc(10% / 6);
}

.pkm-tab-evolution div:nth-child(3n + 1) {
    margin-left: auto;
}

.pkm-tab-evolution div img {
    width: 100%;
    max-width: 256px;
}

.pkm-tab-evolution h2 {
    font-family: 'Lexend Deca', sans-serif;
    font-variant: small-caps;
    margin-bottom: 0;
}

.pkm-tab-evolution p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.pkm-tab-evolution a {
    text-decoration: none;
    color: var(--primary-color);
}

.pkm-compatible-reproduction {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pkm-compatible-reproduction a {
    width: 96px;
    margin: 4px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: var(--primary-color);
}

.pkm-compatible-reproduction a:hover {color: var(--secondary-color);}
.pkm-compatible-reproduction a img {width: 100%;}

.pkm-egg-groups-container {
    background-color: var(--secondary-background-color);
    border-radius: 8px;
    margin: 32px 32px 0 32px;
}

.pkm-egg-groups-container h2 {
    padding: 16px;
    font-family: 'Lexend Deca', sans-serif;
    font-variant: small-caps;
    font-size: 1.25em;
}

.pkm-egg-groups-container h2 span {font-variant: normal;}