@media screen and (max-width: 560px) {
    header {height: 60px;}
    header img {width: 32px; height: 32px;}
    header div a {font-size: 16px;}
    header div a p {margin: calc(calc(32px - 16px) / 2);}

    #carousel__infobox {margin-left: 7.5%; margin-right: 7.5%;}
}

@media screen and (min-width: 560px) and (max-width: 768px) {
    #carousel__infobox {margin-left: 15%; margin-right: 15%;}
}

@media screen and (max-width: 768px) {
    #routes-container div {
        flex: 0 0 85%;
    }
}