<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="index, nofollow">
        <meta name="description" content="Découvrez notre API Pokémon en français pour accéder à une multitude d'informations sur les Pokémon. Explorez notre Pokédex complet et obtenez des données précises sur vos Pokémon préférés.">
        <meta name="keywords" content="pokemon pok&eacute;mon api pokeapi">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Tyradex - Une API Pokémon en français</title>
        <link rel="icon" type="image/png" href="/assets/logo.png">

        <meta property="og:title" content="Tyradex - Une API Pokémon en français">
        <meta property="og:site_name" content="Tyradex">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://tyradex.vercel.app/">
        <meta property="og:image" content="https://tyradex.vercel.app/assets/logo.png">
        <meta property="og:description" content="Découvrez notre API Pokémon en français pour accéder à une multitude d'informations sur les Pokémon. Explorez notre Pokédex complet et obtenez des données précises sur vos Pokémon préférés.">

        <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">

        <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.7.0/styles/vs2015.min.css">
    </head>
    <body>
        <header>
            <div>
                <a href="{{ url_for('_home') }}">
                    <img src="/assets/logo.png" draggable="false" alt="Pokéball">
                    <p>Tyradex</p>
                </a>
            </div>
            <div>
                <a href="{{ url_for('_docs') }}">
                    <img src="/assets/documentation.png" draggable="false" alt="" class="link_logo">
                </a>
                <a href="{{ url_for('_dex') }}">
                    <img src="/assets/pokedex.png" draggable="false" alt="" class="link_logo">
                </a>
                <a href="https://discord.gg/s2CPCt87sc" target="_blank">
                    <img src="/assets/discord.png" draggable="false" alt="" class="link_logo">
                </a>
                <a href="https://github.com/Yarkis01/TyraDex" target="_blank">
                    <img src="/assets/github.png" draggable="false" alt="" class="link_logo">
                </a>
            </div>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p>
                Données provenant de <a href="https://www.pokepedia.fr/" target="_blank">Poképédia</a> & <a href="https://www.serebii.net/" target="_blank">Serebii</a>.
                <br>
                © <span id="copy_date"></span> | <a href="https://github.com/Yarkis01/TyraDex/blob/main/LICENSE" target="_blank">Mit License</a> | Une simple API crée avec ❤️ par <a href="https://github.com/Yarkis01" target="_blank">Yarkis</a> & <a href="https://github.com/Ashzuu" target="_blank">Ashzuu</a>
                <br>
                © Pokémon et tous les noms respectifs sont des marques déposées de <u>The Pokémon Company International</u>, <u>Game Freak</u> et <u>Nintendo</u>.
            </p>
        </footer>
        <script>
            document.getElementById("copy_date").innerText = new Date().getFullYear();
        </script>
        {% block javascript %}
        {% endblock %}
        <script src="/_vercel/insights/script.js" defer></script>
        <script src="https://unpkg.com/@highlightjs/cdn-assets@11.7.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
    </body>
</html>
